<div id="navigation">
    <table>
        <tr class="textnavigation">
            <td class="previous"><span class="previous">&lt;&lt; Previous</span></td>
            <td class="index" colspan="3"><span class="index"><a href="#/gallery" title="Zur&uuml;ck zur Galerie">Galerie</a></span></td>
            <td class="next"><span class="next">Next &gt;&gt;</span></td>
        </tr>
        <tr>
            <td class="thumbcell"></td>
            <td class="thumbcell"></td>
            <td class="thumbcell selected"><img src="assets/img/sankthubertus_small.jpg" title="Sankt Hubertus" alt="assets/img/sankthubertus_small.jpg" /></td>
            <td class="thumbcell"></td>
            <td class="thumbcell"></td>
        </tr>
    </table>
</div>

<h1 class="title">Sankt Hubertus</h1>
<div id="photograph">
    <img src="assets/img/sankthubertus.jpg" title="Sankt Hubertus" alt="assets/img/sankthubertus.jpg" />
</div>