<h1>Reiber</h1>

<div style="float: right; width: 50%">
    <img src="assets/img/basis.jpg" title="Info" alt="assets/img/basis.jpg"/>
</div>
<div style="width: 50%;">
    Reiber ist eine Gemeinde im Donaukreis kurz vor Haut
    <br/>
    <h4>Geographische Lage und Nachbargemeinden</h4>
    <hr style="width: 95%;">
    Reiber liegt südlich der Donauscheid am Damm. Begrenzt einerseits zu den Feuchgebieten der Iller, andereseits zu den Nachbargemeinden Haut, Fisting und Footsen.
    Reiber bildet mit den umliegenden Gemeinden Footsen, Schluken und Spuken den Höhepunkt der sogenannten Albspitze.
</div>
<h4 style="width: 46.7%;">Geschichte</h4>
<hr style="width: 47.6%;">
<div>

    Glaubt man den Gemeindeältesten so geht die Geschichte des Ortes auf die Niederlassung des Geschäftsreisenden und Markthändlers Franz-Ferdinand Reiber in den Feuchtgebieten
    der Donauscheide anno 1469 zurück. Ein Streit mit Johannes L. Ecker und Maurice A. Nal sorgte für die Abspaltung der Ortsteile am Damm. Das heutige Footsen erlangte seine
    Eigenständigkeit nach Überlieferungen durch die Einführung der Gutsleute V. und I. Brator im Jahre 1502.
    Weitere  Details der anscheinend geschichtsträchtigen Vergangenheit können nur noch erahnt werden.
</div>
<div style="float: left; width: 50%;">
    <img src="assets/img/history.jpg" title="Geschichte" alt="assets/img/history.jpg" style="padding-left: 29px;"/>
</div>
<div>
    Für den größten Skandal der Gemeinde sorgte der große Brand des Stadtarchivs
    im Jahre 1969.
    Während des alljährlichen Fußballturniers der willigen Feuerwehr Reiber ging das Stadtarchiv aus bis heute unerklärlichen Gründen in Flammen auf.
    Aufgrund der Tätigkeiten am Sportplatz gelang es dem Feuerwerkommandant Fiedhelm B. Trunken nicht seine Männer rechtzeitig zum Einsatzort zu führen.
    Seit diesem sogenannten „Geräucherten Samstag“ im Frühsommer 69 haben sich das Ortsbild und die Zusammensetzung der Bewohner grundlegend geändert. Mit dem Brand wurden nicht
    nur alle historischen Dokumente vernichtet, auch die Gemeindebücher und Geburtsurkunden der Bewohner fielen den Flammen zum Opfer. Aussagen über etwaige Verwandtschaftsverhältnisse
    sind seither nicht mehr möglich.
</div>

<div style="float: right; width: 50%;">
    <img src="assets/img/wirtschaft.jpg" title="Wirtschaft" alt="assets/img/wirtschaft.jpg" style="padding: 9px 0 0 22px;"/>
</div>
<div style="width: 50.2%;">
    <h4>Wirtschaft und Infrastruktur</h4>
    <hr style="width: 95%;">
    Größter Industriebetrieb und Arbeitgeber in Reiber ist die Teebeutelfabrik am Damm. Bekannt durch das innovative paarweise Herstellungsverfahren werden jährlich mehr als 3 Millionen
    Teebeutel aus dem „Schlot“ gezogen. Seit dem Anschluss über das Kreuz Fisting verfügt Reiber über direkten Anschluss an die A 69. Die Lage am Neckar dient nicht nur dem
    Schiffsverkehr sondern dient auch als Naherholungszone.
</div>

<div>
    <h4>Freizeit und Sport</h4>
    <hr>
    Reiber besticht durch seine sportliche Vielfalt. Herausragend ist und bleibt jedoch der TUSS Reiber. Der größte Ballsportverein im Ort erlangte besonders durch seine dritte Fußballmannschaft Ruhm und Ehre im gesamten süddeutschen Raum. Bei jährlich wechselnden Ballsportturnieren misst man sich im Basket-, Volley- oder Handball.
    Als „Botschafter des Sports“ werden sie alljährlich vom Bürgermeister Robert Reiber geehrt.
</div>