<div id="portrait">
    <div class="pic">
        <img src="assets/img/aleks.jpg" title="Ace" alt="assets/img/aleks.jpg"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Ace</p>
        <p><b>Nachname:</b> Sprenkler</p>
        <p><b>Alter:</b>    25 </p>
        <p><b>Position:</b> Vorsto&szlig;ender Mittelfeldspieler</p>
        <p><b>Letzter Verein:</b> 1. FC Deepthroating</p>
        <p><b>Starker Fu&szlig;:</b> Beidf&uuml;&szlig;ig</p>
        <p><b>Stiefelhand:</b> ambidexter</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Die Nacht auf Felitsches Schlafsack</p>
        <p><b>Bestes Zitat:</b> "Hier haste mal 5 Euro und jetzt geh der Kleinen was zu trinken kaufen!"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Gartensprenkler</p>
    </div>
</div>