<div id="portrait">
    <div class="pic">
        <img src="assets/img/chris.jpg" title="Tanzm&auml;sschen" alt="assets/img/chris.jpg"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Chris</p>
        <p><b>Nachname:</b> Tanzm&auml;sschen</p>
        <p><b>Alter:</b>    26 </p>
        <p><b>Position:</b> In Ulm, um Ulm herum</p>
        <p><b>Letzter Verein:</b> TSV Underspatzen</p>
        <p><b>Starker Fu&szlig;:</b> Kopf</p>
        <p><b>Stiefelhand:</b> Kopf</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Die B&uuml;rtung des Pr&auml;sidenten</p>
        <p><b>Bestes Zitat:</b> "Du 'ne Jeans, ich 'ne Jeans, das kann kein Zufall sein!"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Unkrautstecher</p>
    </div>
</div>