<div id="portrait">
    <div class="pic">
        <img src="assets/img/erol.jpg" title="Erol" alt="assets/img/erol.jpg"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Erol</p>
        <p><b>Nachname:</b> Klausi</p>
        <p><b>Alter:</b>    25 </p>
        <p><b>Position:</b> Tooor</p>
        <p><b>Letzter Verein:</b> 1. FC Footsen</p>
        <p><b>Starker Fu&szlig;:</b> Links wie rechts</p>
        <p><b>Stiefelhand:</b> Links wie rechts</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Wassereis f&uuml;r 5 Pfennige</p>
        <p><b>Bestes Zitat:</b> "... NEIN!, eben nicht Schildkr&ouml;te"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Baggerkrahn</p>
    </div>
</div>