<div id="portrait">
    <div class="pic">
        <img src="assets/img/felix.jpeg" title="Felitsche" alt="assets/img/felix.jpeg"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Felitsche</p>
        <p><b>Nachname:</b> Raul</p>
        <p><b>Alter:</b>    So ungef&auml;hr 100/4 </p>
        <p><b>Position:</b> Rechter Verteidiger</p>
        <p><b>Letzter Verein:</b> Kickers</p>
        <p><b>Starker Fu&szlig;:</b> Rechts</p>
        <p><b>Stiefelhand:</b> Beidh&auml;ndig</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Kuranyi getunnelt</p>
        <p><b>Bestes Zitat:</b> "Die Unterhose muss ich wegschmeissen! Meine Freundin bringt mich um!"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Nusssch&uuml;ttler</p>
    </div>
</div>