<div id="portrait">
    <div class="pic">
        <img src="assets/img/lance.jpg" title="Lance" alt="assets/img/lance.jpg"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Lance</p>
        <p><b>Nachname:</b> The Dance</p>
        <p><b>Alter:</b>    1982er S&uuml;dhang </p>
        <p><b>Position:</b> Kann &uuml;berall</p>
        <p><b>Letzter Verein:</b> Forever TUSS Reiber 3</p>
        <p><b>Starker Fu&szlig;:</b> Beidf&uuml;&szlig;ig</p>
        <p><b>Stiefelhand:</b> Beidh&auml;ndig</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Einmal, im Ferienlager...</p>
        <p><b>Bestes Zitat:</b> "Es ist gen&uuml;gend Lance f&uuml;r alle da"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Gartenkralle Gold</p>
    </div>
</div>