<div id="portrait">
    <div class="pic">
        <img src="assets/img/longdong.JPG" title="Longdong" alt="assets/img/longdong.JPG"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Thommy</p>
        <p><b>Nachname:</b> Longdong</p>
        <p><b>Alter:</b>    28 </p>
        <p><b>Position:</b> Fl&uuml;gelflitzer</p>
        <p><b>Letzter Verein:</b> TSV Petting e.V.</p>
        <p><b>Starker Fu&szlig;:</b> Mitte</p>
        <p><b>Stiefelhand:</b> Langj&auml;hrig antrainierte Beidh&auml;ndigkeit</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Meine ersten St. Hubertus Tropfen</p>
        <p><b>Bestes Zitat:</b> "Komm wir setzen uns vors Zelt und sind solange laut bis sie keine Lust mehr haben!"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Gartenzwerg</p>
    </div>
</div>