<div id="portrait">
    <div class="pic">
        <img src="assets/img/pasi.jpg" title="Pasi" alt="assets/img/pasi.jpg"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Pasi</p>
        <p><b>Nachname:</b> Ouzo</p>
        <p><b>Alter:</b>    Nicht zu alt </p>
        <p><b>Position:</b> Links</p>
        <p><b>Letzter Verein:</b> Anf&auml;nger</p>
        <p><b>Starker Fu&szlig;:</b> Links</p>
        <p><b>Stiefelhand:</b> Ohne</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Die erste Begegnung mit dem Anis-Stiefel</p>
        <p><b>Bestes Zitat:</b> "He, wo geht es hier zum Strand?"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Rebschere</p>
    </div>
</div>