<div id="portrait">
    <div class="pic">
        <img src="assets/img/robby.jpg" title="Robby" alt="assets/img/robby.jpg"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Robby</p>
        <p><b>Nachname:</b> Reiber</p>
        <p><b>Alter:</b>    30 </p>
        <p><b>Position:</b> Mal oben, mal unten und manchmal auch dahinter</p>
        <p><b>Letzter Verein:</b> FSV Fisting</p>
        <p><b>Starker Fu&szlig;:</b> Rechtsh&auml;nder</p>
        <p><b>Stiefelhand:</b> Rechts</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Sch&uuml;leraustausch mit dem schwedischen M&auml;dchengymnasium aus Sandviken (bei G&auml;vle) / Brauereibesichtigung in der 10. Klasse</p>
        <p><b>Bestes Zitat:</b> "In unserer Beziehung hab ich die Hosen in der Hand!"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Hacke</p>
    </div>
</div>