<div id="portrait">
    <div class="pic">
        <img src="assets/img/schwein.jpg" title="Schwein" alt="assets/img/schwein.jpg"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Schwein</p>
        <p><b>Nachname:</b> Schwein</p>
        <p><b>Alter:</b>    F&uuml;r kein Schei&szlig; zu alt </p>
        <p><b>Position:</b> Immer und &uuml;berall</p>
        <p><b>Letzter Verein:</b> Turn&uuml;bung Visting</p>
        <p><b>Starker Fu&szlig;:</b> Beide fett</p>
        <p><b>Stiefelhand:</b> Angeborene Freih&auml;ndigkeit</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Bierschaum vom v&auml;terlichen Bier</p>
        <p><b>Bestes Zitat:</b> "Blick ich net!"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Rosenschere, Rosenstein, Rosenpapier</p>
    </div>
</div>