<div id="portrait">
    <div class="pic">
        <img src="assets/img/seb.png" title="Seb" alt="assets/img/seb.png"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Seb</p>
        <p><b>Nachname:</b> Beifall</p>
        <p><b>Alter:</b>    Im 7. Fr&uuml;hling </p>
        <p><b>Position:</b> Pirat</p>
        <p><b>Letzter Verein:</b> --</p>
        <p><b>Starker Fu&szlig;:</b> Je nach Entz&uuml;ndung</p>
        <p><b>Stiefelhand:</b> Erst rechts, dann links</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Platz 4 beim Kalorienwettessen bei ,,Fress for Fisting 2012"</p>
        <p><b>Bestes Zitat:</b> "Hey B&uuml;xxe!"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Schlumpfine</p>
    </div>
</div>