<div id="portrait">
    <div class="pic">
        <img src="assets/img/stambo.png" title="Stambo" alt="assets/img/stambo.png"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Stambo</p>
        <p><b>Nachname:</b> Stambo</p>
        <p><b>Alter:</b>   	Alt genug f&uuml;r alles </p>
        <p><b>Position:</b> K&ouml;nigsposition</p>
        <p><b>Letzter Verein:</b> FSV Deepthroatinh</p>
        <p><b>Starker Fu&szlig;:</b> Gef&uuml;hlvoll rechts</p>
        <p><b>Stiefelhand:</b> Beidh&auml;ndig</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> Nicht vorhanden (Amnesie)</p>
        <p><b>Bestes Zitat:</b> "Blick die Frage nicht"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Gartenzwerg mit Rasenm&auml;her</p>
    </div>
</div>