<div id="portrait">
    <div class="pic">
        <img src="assets/img/sushi.jpg" title="Sushi" alt="assets/img/sushi.jpg"/>
        <div class="back"><a href="#/team" title="Zur&uuml;ck">Zur&uuml;ck</a></div>
    </div>
    <div class="portraittext">
        <p><b>Vorname:</b>  Sushi</p>
        <p><b>Nachname:</b> Kr&auml;mer</p>
        <p><b>Alter:</b>    Im besten Alter </p>
        <p><b>Position:</b> Meistens von hinten kommend auf dem linken Fl&uuml;gel</p>
        <p><b>Letzter Verein:</b> FSV Fisting</p>
        <p><b>Starker Fu&szlig;:</b> Mittelfu&szlig;</p>
        <p><b>Stiefelhand:</b> Rechts</p>
        <p><b>Sch&ouml;nste Kindheitserinnerung:</b> 	Ich erinnere mich noch gerne an die vielen wunderbraren Momente mit meinen Pferden Annabell und Tinkerbell. Wir sind jeden Sonntag mit der Kutsche los, das war wundersch&ouml;n und anschlie&szlig;end sind wir noch zu meinem Opa gefahren, Moscht trinken.</p>
        <p><b>Bestes Zitat:</b> "Sollen wir jetzt zusammen duschen?“ (aus dem nichts in einer Runde Teenager)"</p>
        <p><b>Liebstes Gartenwerkzeug:</b> Gartenkralle Gold</p>
    </div>
</div>