<h1>M&auml;nnermannschaft</h1>
<div id="mannschaft">
    <marquee>EILMELDUNG: DER TUSS REIBER 3 SCHAFFT SENSATIONELL DEN WIEDERAUFSTIEG IN DIE KREISKLASSE 10!!!!!!!!!!!</marquee>
    <img src="assets/img/reiber.jpg" title="TUSS Reiber 3" alt="assets/img/reiber.jpg" style="width: 100%;"/>
    <div>
        <a title="Robby" href="#/team/robby">Robby</a>,
        <a title="Sushi" href="#/team/sushi">Sushi</a>,
        <a title="Ace" href="#/team/ace">Ace</a>,
        <a title="Seb" href="#/team/seb">Seb</a>,
        <a title="Longdong" href="#/team/longdong">Longdong</a>,
        <a title="Erol" href="#/team/erol">Erol</a>,
        <a title="Stambo" href="#/team/stambo">Stambo</a>,
        <a title="Felitsche" href="#/team/felitsche">Felitsche</a>,
        <a title="Tanzm&auml;uschen" href="#/team/chris">Tanzm&auml;uschen</a>,
        <a title="Marc" href="#/team/marc">Limette</a>,
        <a title="Lance" href="#/team/lance">Lance</a>,
        <a title="Schwein" href="#/team/schwein">Schwein</a>,
        <a title="Pasi" href="#/team/pasi">Pasi</a>
    </div>
</div>