<h1>Geschafft &#045; Auffgestiegen!</h1>

Wer h&auml;tte das f&uuml;r m&ouml;glich geglaubt. Nach kurzer Findungsphase wurde der Aufstieg 9 (!) Spieltage vor dem Ende der Runde perfekt gemacht!
Fans, Spieler und Sponsoren lagen sich nach dem Spiel vorigen Woche durstig in den Armen. Entsprechend wurde der 11 Saisonsieg mit mehr als 6 geschossenen Toren
gefeiert. Neben Wei&szlig;bier und &#045;duschen gab es nat&uuml;rlich auch Sekt und Selters. An fundierte Pressearbeit an diesem Abend konnte leider keine Garantie &uuml;bernommen werden,
so dass keine weiteren Details berichtet werden k&ouml;nnen.
Nahezu ebenso interessant ist jedoch der n&auml;chste richtungsweisende Tag &#045; der 06 Juni 2013. Hier wird die n&auml;chste Jahreshauptversammlung stattfinden.
Fans und Freunde sind hier nat&uuml;rlich wie jedes Jahr nicht erw&uuml;nscht.
Zu kl&auml;ren wird es hier die Zusammensetzung des Kaders f&uuml;r die kommende Spielzeit geben. N&auml;heres ist jedoch zum jetzigen Zeitpunkt nicht bekannt.
Ger&uuml;chten zufolge wird es jedoch die ein oder andere &Uuml;berraschung geben.
Nun zum Kader f&uuml;r die kommende Saison, wohl wissend, dass nach der Juni-Konferenz einige &Uuml;berraschungen folgen werden.
M&auml;zen und Sprachorgan Reiber wird definitiv erneut in die kommende Saison f&uuml;hren. Alles andere w&auml;re wohl auch eine &Uuml;berraschung zu viel gewesen.
Er wird erneut durch Taten und Motivationen den Trupp zusammenhalten.
Im Tor wird erneut Klaus seine H&uuml;ften schwingen, wer neben ihm auflaufen kann und wird ist offen, Torwartkollege Damir hat sich zu keiner Aussage zwingen lassen.
Bekannt ist jedoch, dass der Verein mit Ihm weiterhin zusammenarbeiten will. Sicherlich wird die letztj&auml;hrige Nummer 3 Benny nochmals einen Angriff in den Kader
starten und sich nicht mit der Reservistenrolle begn&uuml;gen wollen.
Bei den Feldspielern ist die Frage nach dem WER ebenfalls angebracht.
Sicher ist, dass ACE trotz vieler (Anmerkung der Redaktion: sehr, sehr, sehr kleiner) Verletzungen weiterhin im Team sein wird. Als St&uuml;tze und laufstarker Akteur
ist dies sicherlich auch dem Trainerteam eine der wichtigsten Anforderungen gewesen um selbst weiterzumachen. Neben Ihm wird wohl auch Thommy PF. wieder zur Verf&uuml;gung stehen.
Glaubt man dem n&auml;heren Umfeld, so hat er sich von seiner Shoppingsucht in Metzingen wohl erholt und wird im kommenden Jahr wieder versuchen als gelernter 8er die F&auml;den zu schwingen.
Schwung und voll wird sicherlich auch Felitsche die Au&szlig;enbahnen beackern, auch seinen Vertrag konnte man trotz einiger Anfragen von verschiedenen Vereinen und Frauen verl&auml;ngern.
In der Zentralen Position um Marc-Limette Volle steht leider ein Fragezeichen. Hier gibt es wohl noch Gespr&auml;che mit seiner Managerin und Ehefrau. Wie die Entscheidung hier
fallen wird ist offen. Der Spieler hat positive Signale gesendet, entscheiden wird es hier jedoch wohl eine andere Person.
Weitere Spieler wie Nenad, Paul Paula, Pasi und  Joe R. haben sich noch zu keiner Aussage verleiten lassen. Es k&ouml;nnte jedoch sein, dass hier relativ kurzfristig Entscheidungen fallen werden.
Es bleibt zu hoffen, dass hier recht zeitnah positive Entscheidungen der dreien kommen werden &#045; auf geht&#039;s Jungs, das Team braucht Euch!
Sicher nicht ber&uuml;cksichtigt werden Sushi auch Cr&auml;zy Chris Tanzm&auml;uschen. Sushi, der die vollst&auml;ndige Hinrunde (!!!)  wegen der Organisation und Durchf&uuml;hrung des 60.
Geburtstags seiner Schwiegermutter nicht zur Verf&uuml;gung stehen wird, bat um eine sechsmonatige Vertragsstilllegung. CCT wird sich in den kommenden Monaten wohl dem Besteigen von H&uuml;geln,
Bergen und anderen Anhebungen widmen. Tanzm&auml;uschen &#045; auf ein baldiges Wiedersehen.
Aufatmen k&ouml;nnen die Verantwortlichen in Gegensatz dazu bei Schwein. Er hat seinen Vertrag vorzeitig um 3 Jahre verl&auml;ngert und wird trotz seines sehr aufwendigen Studiums dem
TuSS Reiber III weiterhin viel Freude bereiten!
Sicherlich wird das Team sich auch Gedanken um eine Erweiterung des Trainerteams machen m&uuml;ssen. Gerade in den Belangen &#034;Fitness&#034; wird man hier schauen m&uuml;ssen, dass die Mannschaft
neuen Wind bekommt. W&auml;hrend Robby an seiner Fitness feilt, werden einige andere Spieler eher abseits des Platzes t&auml;tig. L&auml;nce beispielsweise wurde in der abgelaufenen Runde
mehr auf dem Golfplatz putten gesehen, als auf dem Fu&szlig;ballplatz. Auch Seb, der sich eher mit Erdn&uuml;sschen vergn&uuml;gt als mit dem &#034;gro&szlig;en Runden&#034;, wird sicherlich in der Vorbereitung
m&auml;&szlig;geblich gefordert werden, seine Hirngespinnste wieder ad Acta zu legen. Ebenso Stambo, der zwar bei allen Spielen mit von der Partie war, jedoch jegliche Einwechslungen aktiv
abgewunken hat &#045; mit roter Mine trotz gutem Spiel&#046;&#046;&#046;
Als bisher einzigschter Neuzugang k&ouml;nnen die Offiziellen Markus Teach vermelden. Er wird sich wohl in den kommenden Tagen beim Team vorstellen und sicherlich am 06. Juni auch vertreten sein.
Gemunkelt wird zudem, dass mit Waschi Sonnerth ein weiterer bekannter Spieler kurz vor der Verpflichtung steht. Durch seine Beweglichkeit in der H&uuml;fte kann er neben Finten auch so einige
Opfer vernaschen. Sein aktueller Verein ist noch TSV B&uuml;xenheim. Hier wird jedoch st&uuml;ndlich auf die Unterschrift gewartet.
Wir werden sehen, was die kommende Runde bringt. Sicher ist Spa&szlig; und Erfolg erneut unter einen Hut zu bringen.

<div class="previous"><span class="previous"><a href="#/news/4" title="Zur&uuml;ck">&lt;&lt; Previous</a></span></div>
<div class="next"><span><a href="#/news/2" title="Vorw&auml;rts">Next &gt;&gt;</a></span></div>